<div class="button-container">
    <button (click)="showComponent(1)" *ngIf="organization.isOncallAvailable" class="btn btn-primary">OnCall</button>
    <button (click)="showComponent(2)" class="btn btn-primary">Open Jira Ticket</button>
    <button (click)="showComponent(3)" *ngIf="organization.isStatusPageAvailable" class="btn btn-primary">Status Page</button>
  </div>
  <div class="button-content">
  <app-oncall *ngIf="selectedComponent === 1" (close)="hideComponent(1)"></app-oncall>
  <app-jira *ngIf="selectedComponent === 2" (close)="hideComponent(2)"></app-jira>
</div>