<div *ngIf="loading; else loadedContent" class="loading-spinner"></div>

<ng-template #loadedContent  >
  <div *ngIf="oncallDetails" class="name-with-indicator">
    <div class="Tier-select" style="width:100px;">
      
      <select #tier (change)="checkTier(tier.value)"> 
        <option value="1">Tier 1</option>
        <option value="2">Tier 2</option>
        <option value="3">Tier 3</option>
        <option value="4">Tier 4</option>
      </select>
    </div>
    
    <p>{{ oncallDetails.full_name }}</p>
    <div class="online-indicator"></div>
    
  </div>
  <div *ngIf="!oncallDetails">
    <p>No matching contact found.</p>
  </div>
  <br><br>
  <div *ngIf="oncallDetails" class="content">
    <div class="card">
        <div class="firstinfo"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" />
            <div class="profileinfo">
                <h1>{{ oncallDetails.full_name }}</h1>
                <p class="bio"><i class="fa fa-envelope" aria-hidden="true"></i>{{oncallDetails.email}}</p>
                <p class="bio"><i class="fa fa-phone" aria-hidden="true"></i>{{oncallDetails.phone}}</p>
                <p class="bio"><i class="fa fa-phone" aria-hidden="true"></i>{{current_since}} - {{current_until}}</p>
            </div>
        </div>
    </div>
    <div class="badgescard"> 
        <span ><i class="fa fa-phone" aria-hidden="true"></i></span>

    </div>
  </div>

</ng-template>

