.green {
  background-color: #2ecc71;
}

.turquoise {
  background-color: #1abc9c;
}

.navy {
  background-color: #34495e;
}

.blue {
  background-color: #3498db;
}

.purple {
  background-color: #9b59b6;
}

.grey {
  background-color: #bdc3c7;
  color: #202020;
}

.gray {
  background-color: #7f8c8d;
}

.red {
  background-color: #e74c3c;
}

.orange {
  background-color: #f39c12;
}

.yellow {
  background-color: #f1c40f;
  color: #303030;
}

.day-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

.day-columns .day-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 300px; /* Adjusted height */
  min-width: 120px; /* Adjusted min-width */
  border: 1px solid #ebedf2;
  border-left: none;
}

.day-columns .day-column:first-child {
  border-left: 1px solid #ebedf2;
}

.day-columns .day-column .day-header {
  border-bottom: 1px solid #ebedf2;
  text-align: center;
  padding: 5px;
  color: #898b96;
}

.day-columns .day-column .day-content {
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  overflow-y: auto;
}

.day-columns .day-column .day-content .event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 3px;
  color: white;
  padding: 5px;
  box-shadow: 0px 1px 10px 1px rgba(81, 77, 92, 0.08); /* Adjusted box-shadow */
}

.day-columns .day-column .day-content .event .title {
  font-size: 10px; /* Adjusted font-size */
}

.day-columns .day-column .day-content .event footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 9px; /* Adjusted font-size */
}

.day-columns .day-column .day-footer {
  border-top: 1px solid #ebedf2;
  padding: 5px;
  text-align: center;
  font-size: 11px; /* Adjusted font-size */
  color: #575962;
}

.container {
  margin-top: 20px;
}
.name-with-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.name-with-indicator p {
  margin: 0; 
}

.online-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px; 
}



.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto; /* Center the spinner */
  display: block; /* Center the spinner */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
.Tier-select {
  font-family: Arial;
  
  background-color: #3498db;
  margin-right: 10px;
  
  cursor: pointer;
  border: 1px solid #3498db;
  border-radius: 5px;
  
}
select{
  padding: 3px 4px 4px 6px;
  background-color: #3498db;
  color: white;
  width: 100%;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;

}
option{
  cursor: pointer;

}


